@import "../bower_components/bootstrap/less/bootstrap.less";
@import "variables.less";
@icon-font-path: "../fonts/glyphicons/";

// Map styles

@duration: 0.3s;

// Colors from ColorBrewer2
@red: #e41a1c;
@blue: #377eb8;
@green: #4daf4a;
@purple: #984ea3;
@orange: #ff7f00;
@yellow: #ffff33;
@brown: #a65628;
@pink: #f781bf;

#land {
  fill: none;
  stroke: @gray;
}

.path-group {
  pointer-events: all;
}

.line(@color) {
  stroke-width: 3;
  fill: none;
  stroke: @color;
  transition-duration: @duration;

  &:hover {
    text-shadow: 0px 0px 3px @color;
    stroke-width: 5;
  }
}

.at {
  .line(@brown);
}

.momdad {
  .line(@purple);
}

.buffer {
  stroke: none;
}

// Body styles

body {
  background: url('../images/mochaGrunge.png');
}
.copy {
  .make-row();
  text-align: center;

  a {
    .make-sm-column(6);
    .make-md-column(5);

    &:first-child {
      .make-md-column-offset(1);
    }

    &:hover {
      text-decoration: none;
    }

    h2 {
      margin: 0;
      font-weight: normal;
    }

    p {
      .lead;
    }
  }
}

html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -30px;
  /* Pad bottom by footer height */
  padding: 0 0 30px;
}

#footer {
  height: 30px;

  p {
    .text-muted;
    .text-right;
    .small;
  }

  a {
    color: @link-muted-color;
    &:hover {
      color: @link-hover-color;
    }
  }
}

// Other

.browsehappy {
  margin: 0.2em 0; 
  background: #ccc; 
  color: #000; 
  padding: 0.2em 0; 
}
